.right {
	float: right !important;
}

.left {
    float: left;
}

.clear {
	clear: both;
}

.we-talk-style .title {
    margin: 0.8em 0 0.8em 0.8em;
    font-size: 1.5em;
    color: #666;
    font-weight: bolder;
}

.we-talk-style .purtitle {
    font-size: 1.5em;
    color: #666;
    font-weight: bolder;
}

.blue-font {
    color: #949495;
    font-weight: bolder;
}

/*************************** topic *****************************/
.we-talk-style .we-talk-style-nav .user-ui-btn {
	padding-top: 3.3em !important;
	font-size: 1.2em !important; 
	padding-bottom: 0.1em !important;
}

.we-talk-style .we-talk-style-nav .user-ui-btn:after {
	background-size: 1.1em 1.1em;
	width: 2.4em;
	height: 2.4em;
	text-align: center;
	top: .5625em;
	left: 42%;
}

.we-talk-style .user-add-ui-btn {	
	font-size: 1.5em !important; 
	width: 1.2em;
	height: 1.2em;
	top: .3625em;
}

.we-talk-style .user-add-ui-btn:after {
	background-size: 0.7em 0.7em;
	width: 1em;
	height: 1em;
	text-align: center;
	top: 0;
	left: 0;
	margin: 0.1em;
	padding: 0;
}


.we-talk-style-header {
	font-size: 1.9em !important;
}

#channel .we-talk-style-content {
	overflow: hidden;
	padding: 0.2em 0 0 0 !important;
}

.we-talk-style .we-talk-style-view ul li a {
	font-size: 1.1em !important;
}

.we-talk-style h2 {
	font-size: 1.6em !important;
}

.we-talk-style .we-talk-style-view {
	font-size: 1.2em !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.we-talk-style .we-talk-style-list {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

.we-talk-style .we-talk-style-list li {
	margin-bottom: 0.2em;
}

.we-talk-style .we-talk-style-list .topic a {
	color: #698aa6;	
}

.we-talk-style .we-talk-style-list .topic a  img{
	padding: 1.2em 0.6em 0.6em 0.8em !important;
}

.we-talk-style .we-talk-style-list .topic a div {
	padding-left: 1.1em !important;
}

    .we-talk-style .we-talk-style-list .itemcontent a {
        display: inline;
    }

    .we-talk-style .we-talk-style-list .itemcontent {
        max-width: 90%;
    }

   .heart{
        top: 35% !important;
    }

    .talk{
        top: 68% !important;
    }

.we-talk-style .we-talk-style-list .topic .likeBox {
	width: 6em;
}

.we-talk-style .we-talk-style-list .topic a h2 {
	margin: 0.1em;
}

.we-talk-style .time {
	color: #3e62ad;
	font-size: 0.8em !important;
}

.we-talk-style .we-talk-style-list li a p{
	font-size: 0.9em !important;
	color: #999 !important;
	clear: both;
	padding-top: 0.2em;
}

.we-talk-style .topic-list li a .topic-tittle{
    font-size: 1.6em !important;
    color: #698aa6;
    font-weight: bolder;
}


/*************************** topic *****************************/


/*************************** message *****************************/
.we-talk-style .we-talk-style-list .h2 {
	font-size: 1.6em !important;
	color: #0095d9 !important;
	display: block;
	float: left;
	width: 60%;
}

.we-talk-style .we-talk-style-list .time {
	font-size: 0.8em !important;
	color: #bbc8e6 !important;
	float: left;
	width: 10%;
	padding-right: 3em;
	padding-top: 0.65em;
}

.we-talk-style .we-talk-style-list .person a img{
	margin: 0.8em !important;
	width: 4em !important;
	height: 4em !important;
	-webkit-border-radius: 10em !important;
	-moz-border-radius: 10em !important;
	
}

.we-talk-style-content {
	overflow: hidden;
	padding: 0.2em 0 0 0.2em !important;
}

.message-holder h2 {
	padding: 0.2em 0.3em !important;
	margin: 0.1em 0 !important;
	font-weight: bold;
	font-size: 1.4em !important;
}

.we-talk-style .fromMessage {
    max-width: 80%;
}

.we-talk-style .myMessage {
    max-width: 80%;
    float: right;
}

/*************************** message *****************************/

/*************************** home *****************************/
.we-talk-style .we-talk-style-info {
	overflow: visible;
	margin: 0.2em !important;
	border-bottom: #AAA solid 1px;
	height: 8.4em;
}

.we-talk-style .we-talk-style-info img {
	margin: 0.6em 0.6em 1em 0.6em !important;
	width: 6.5em !important;
	height: 6.5em !important;
	-webkit-border-radius: 10em !important;
	-moz-border-radius: 10em !important;
	float: left;
}

.we-talk-style .we-talk-style-info div {
	float: left;
	padding-left: 1em;
	padding-top: 0.5em;
}

.we-talk-style .we-talk-style-info .h2 {
	font-size: 1.6em !important;
	color: #0095d9 !important;
	padding: 0;
	margin: 0.5em 0;
}

.we-talk-style .we-talk-style-info .information {
	color: #808080;
	font-size: 1.3em !important;
}

.we-talk-style .we-talk-style-info .keyword span {
	color: #3e62ad;
	font-size: 1.2em;
	padding-left: 1em;
}

.we-talk-style .source-talk {
    margin: .5em 0 0.3em 1em;
    width: 87%;
}

/*************************** home *****************************/
/*************************** inputbox *****************************/
.we-talk-style-inputbox  a{
	float: left;
}

.we-talk-style-inputbox .add-groove {
	margin: 0.4em 0em !important;
	padding: 0.5em 0.5em 0.5em 1.9em !important;
    line-height: 1.2em;
    font-size: 1.3em;
}

.we-talk-style-inputbox  input{
	float: left;
	width: 67%;
	padding: 0.2em 0.2em 0.1em 0.2em !important;
	margin: 0.6em 0.6em 0.5em 0.6em !important;
	border: solid 1px #AAA;
    font-size: 1.5em !important;
}

.we-talk-style .user-inputbox-ui-btn {	
	font-size: 1.5em !important; 
	width: 1.9em;
	height: 1.9em;
	top: .6025em;
	left: .2em !important;
}

.we-talk-style .user-inputbox-ui-btn:after {
	background-size: 0.7em 0.7em;
	width: 1.7em;
	height: 1.7em;
	text-align: center;
	top: 0;
	left: 0;
	margin: 0.1em;
	padding: 0;
}
/*************************** inputbox *****************************/
/*************************** setting *****************************/
.we-talk-style  .setting {
	margin-top: 1em;
	margin-bottom: 1em;
}

    .we-talk-style .setting .logout {
        width: 95%;
        margin: 2em auto;
    }

        .we-talk-style .setting .logout a {
            font-size: 1.5em !important;
        }

.we-talk-style  .setting ul li a {
	padding: 1em 0.6em;
	margin: 0 1em;
	font-size: 1.5em !important;
	color: #808080 !important;
}

.we-talk-style .setting-info {	
	width: 70%;
	margin-top: 1em;
	margin-left: 1em;
}

.we-talk-style .setting-info input {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #698aa6;
	background: #f9f9f9;
	padding: 0.2em;
	font-size: 1.6em !important;
	color: #698AA6;
}

/*************************** setting *****************************/
/*************************** login *****************************/
.we-talk-style-login-page {
	background-image: url(../images/bg.jpg);
	background-color: white;
	background-repeat:no-repeat;
	background-position-x: 50%;
	background-position-y: 20%;
	background-attachment:fixed;
}

.we-talk-style-login-page .loginbox {
	margin-top: 100%;
	margin-left: 15% !important;
	margin-right: 15% !important;
}

.we-talk-style-login-page .loginbox input{
	padding: 0.5em !important;
	font-size: 1.5em !important;
}

.we-talk-style-login-page .loginbox .inputbox-button{
	padding: 0.5em !important;
	font-size: 1.5em !important;
}


/*************************** login *****************************/
/*************************** spitslot *****************************/
.we-talk-style .we-talk-style-userlist  {
	list-style: none;
    margin: 0.5em;
    background-color: #EEE;
    border: 1px solid #DDD;
    overflow: hidden;
}
/*************************** spitslot *****************************/
/*************************** talk *****************************/
.we-talk-style .we-talk-style-itemshow  {
	background-color: #EEE;
    margin: 0.1em 0.2em 1.5em 0.2em;
    border: 1px solid #DDD;
	-webkit-border-radius: .3em !important;
	-moz-border-radius: .3em !important;
    overflow: hidden;
}

    .we-talk-style .we-talk-style-itemshow .maincontent {
        padding: 0.8em 0.8em 0 0.8em;
    }

    .we-talk-style .we-talk-style-itemshow .talker-info {
        overflow: hidden;
    }

        .we-talk-style .we-talk-style-itemshow .talker-info .user {
            margin-left: 6em;
            margin-top: 0.6em;
        }

    .we-talk-style .we-talk-style-itemshow .show-info img {
        max-width: 100%;
    }

    .we-talk-style .we-talk-style-itemshow .show-info p {
        font-size: 1.4em;
        font-weight: bold;
    }

.we-talk-style .we-talk-style-itemshow .talker-info img  {
    width: 4em;
    height: 4em;    
	-webkit-border-radius: 5em !important;
	-moz-border-radius: 5em !important;
    float: left;
}

.we-talk-style .h3 {
    font-size: 1em !important;
	color: #0095d9 !important;
	padding: 0;
	margin: 0.5em 0;
}

/*************************** talk *****************************/